@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* shared styles */
.font-1{
    font-family: "Merriweather", serif;
}

.font-2{
    font-family: "Inter", sans-serif;
}

.text-primary{
    color: rgb(255, 0, 0);
}

/* header section style starts here */
.banner-container{
    max-width: 1320px;
    margin: 0 auto;
    /* border: 2px solid red; */
    min-height: 600px;
    margin-top: 30px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-image: linear-gradient(180deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url("../images/Banner\ Image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    /* background-blend-mode: overlay; */
}

.banner-content{
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: center;
    align-items: center;
}

.banner-content p, h1{
    color: white;
}

.banner-content h1{
    font-size: 72px;
    font-weight: 900;
    text-align: center;
}

.banner-content p{
    font-size: 32px;
    font-weight: 400;
}

/* first section style starts here */
.first-section-container{
    max-width: 802.9px;
    height: 806px;
    margin: 0 auto;
    margin-top: 90px;
}

.first-section-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first-section-content h1{
    font-size: 88px;
    font-weight: 700;
    color: rgb(255, 0, 0);
    margin-bottom: 30px;
}

.first-section-content p{
    font-size: 24px;
    font-weight: 500;
    color: rgb(255, 0, 0);
}

.first-section-content h3{
    font-size: 48px;
    font-weight: 700;
    color: rgb(7, 2, 17);
}
.image-container{
    height: 500;
    width: 802.9px;
    margin-top: 47px;
}

.image-container img{
    height: 100%;
    width: 100%;
}

/* midnight section style starts here */
.midnight-party-container{
    max-width: 1320px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    /* margin-top: 30px */
    background-image: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url("../images/Vectorrr.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px; 
    margin-top: 100px;
    
}

.leftside-content{
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 30px;
}

.leftside-content h1{
    font-size: 64px;
    font-weight: 900;
    color: white;
}

.leftside-content p {
    font-size: 18px;
    font-weight: 400;
    color:  rgba(255, 255, 255, 0.8);
    margin-left: 50px;
}

#midnight-btn{
    font-size: 20px;
    font-weight: 700;
    color: white;  
    margin-right: 410px;
}

.rightside-content{
    width: 50%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* second section style starts here */
.second-section-container{
    max-width: 1320px;
    height: 482px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    margin-top: 120px;
}

.second-section-content{
    width: 549px;
    height: 272px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.second-section-content h2{
    font-size: 32px;
    font-weight: 600;
    color: rgb(7, 2, 17);
    text-align: center;
}

.second-section-content button{
    font-size: 20px;
    font-weight: 700;
    background-color:  rgb(255, 0, 0);
    color: white;
    padding: 16px 32px;
    border-radius: 8px;
    border: none;
}

/* third section style starts here */
.third-section-container{
    width: 1320px;
    height: 463px;
    margin: 0 auto;
    display: flex;
    margin-top: 120px;
}

.left-content{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.left-content h4{
    color: rgb(255, 0, 0);
    font-size: 24px;
    font-weight: 500;
}

.left-content h1{
    color: rgb(7, 2, 17);
    font-size: 48px;
    font-weight: 900;
}

.left-content p{
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
    -weight: 400;
}

.middle-content{
    width: 34%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.middle-content img{
    width: 364.84px;
    height: 364.84px;
    padding: 25px;
    border: 12px solid rgb(255, 0, 0);
    border-radius: 50%;
}

.right-content{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.right-content h2{
    color: rgb(255, 0, 0);
    font-size: 48px;
    font-weight: 700;
}

.right-content p{
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
    font-weight: 400;
}

.right-content img{
    width: 140px;
    height: 140px;
}

